.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h3 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
    color: #B5B5B5;
  }

  button {

    img {
      position: relative;
      left: -25%;
    }

    &:hover img {
      transform: translateX(-5px);
    }
  }

}

.infoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 25px;
}