.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  padding: 30px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  h2 {
    margin-bottom: 30px;
  }
}

.drawer_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover {
    opacity: 0.9;
  }
}

.drawer_priceBlock {
  font-size: 16px;
  margin-bottom: 30px;

  b {
    font-weight: 600;
  }

  li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  li:last-child {
    margin-bottom: 0;
  }
}

//Cart

.cartInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h3 {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
    color: #B5B5B5;
  }

  button {

    img {
      position: relative;
      left: -25%;
    }

    &:hover img {
      transform: translateX(-5px);
    }
  }

}

.cartInfoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 25px;
}

.cartItems {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow-y: auto;
}
